<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tvz.btot.zavrsni.infrastructure.dao.UserDao">
    <resultMap id="UserMap" type="tvz.btot.zavrsni.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="encryptedPassword" column="password"/>
        <result property="email" column="email"/>
        <result property="active" column="active"/>
        <result property="courseId" column="id_course"/>
        <collection property="roles" column="{params.map.id=id}" ofType="tvz.btot.zavrsni.domain.Role" select="findRolesById"/>
    </resultMap>

    <select id="findAll" resultMap="UserMap">
        SELECT *
          FROM user;
    </select>

    <select id="findAllInGroupChat" resultMap="UserMap">
        SELECT *
          FROM user
          JOIN chat_user cu ON cu.id_chat = #{params.map.id}
                           AND cu.id_user = user.id
      GROUP BY user.id
    </select>

    <select id="findRolesByUsername" resultType="tvz.btot.zavrsni.domain.Role">
        SELECT name
          FROM role
          JOIN user ON username LIKE #{params.map.username}
         WHERE role.id IN (SELECT id_role FROM user_role WHERE id_user = user.id);
    </select>

    <select id="findRolesById" resultType="tvz.btot.zavrsni.domain.Role">
        SELECT name
          FROM role
          JOIN user ON user.id = #{params.map.id}
         WHERE role.id IN (SELECT id_role FROM user_role WHERE id_user = user.id);
    </select>

    <select id="findByUsername" resultMap="UserMap">
        SELECT *
          FROM user
         WHERE username LIKE #{params.map.username};
    </select>

    <select id="findById" resultMap="UserMap">
        SELECT *
          FROM user
         WHERE id = #{params.map.id};
    </select>

    <select id="existsByUsername" resultType="boolean">
        SELECT IF(
            (SELECT COUNT(id)
               FROM user
              WHERE username LIKE #{params.map.username}), TRUE, FALSE
        );
    </select>

    <insert id="create" statementType="CALLABLE">
        {CALL createUser(
            #{params.map.user.username, mode=IN, jdbcType=VARCHAR},
            #{params.map.user.encryptedPassword, mode=IN, jdbcType=VARCHAR},
            #{params.map.user.email,    mode=IN, jdbcType=VARCHAR},
            #{params.map.user.courseId, mode=IN, jdbcType=INTEGER},
            #{params.map.user.active,   mode=IN, jdbcType=INTEGER},
            #{params.map.user.rolesQuery,   mode=IN, jdbcType=VARCHAR},
            #{params.procedureOutputMap.newUserId, mode=OUT, jdbcType=INTEGER}
        )}
    </insert>

    <delete id="delete" statementType="CALLABLE">
        {CALL deleteUser(#{params.map.userId, mode=IN, jdbcType=INTEGER}) }
    </delete>

    <select id="getForm" resultMap="UserMap">
        SELECT *
          FROM user
         WHERE id = #{params.map.userId};
    </select>

    <update id="update" statementType="CALLABLE">
        {CALL updateUser(
            #{params.map.user.id, mode=IN, jdbcType=INTEGER},
            #{params.map.user.username, mode=IN, jdbcType=VARCHAR},
            #{params.map.user.encryptedPassword, mode=IN, jdbcType=VARCHAR},
            #{params.map.user.email, mode=IN, jdbcType=VARCHAR},
            #{params.map.user.courseId, mode=IN, jdbcType=INTEGER},
            #{params.map.user.active, mode=IN, jdbcType=INTEGER},
            #{params.map.user.rolesQuery, mode=IN, jdbcType=VARCHAR}
        )}
    </update>

    <delete id="deleteByUsername">
        -- TODO
    </delete>
</mapper>